body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Inicio navbar */
  .navbar {
    background-color: #42666e;
    padding: 1rem;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navbar-logo img {
    width: 10%;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  .navbar-list li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
  }
  
  .navbar-list li a:hover {
    background-color: #385960;
    border-radius: 5px;
  }

  /* Fin navbar */